.appDrawer {
  @apply fixed 
  top-0 
  h-screen 
  bg-base-100 
  flex 
  flex-col 
  justify-between
  transition
  border-r-[1px] border-base-200;
}

.appDrawer__logobox {
  @apply flex 
  flex-row 
  items-center 
  justify-center
  h-[70px];
}
.appDrawer__logo {
  @apply scale-50;
}

.appDrawer__menu {
  @apply list-none
  flex flex-col
  gap-2
  px-[10px]
  m-0 overflow-scroll;
}
.appDrawer__menu li {
  @apply btn
  btn-outline
  text-base-content
  hover:bg-primary
  hover:border-primary
  hover:text-primary-content
  pl-[20px] 
  min-w-[200px]
  border-transparent 
  flex 
  flex-row 
  items-center 
  justify-start 
  normal-case
  font-normal;
}
.appDrawer__menu li.active {
  @apply bg-primary border-primary text-primary-content;
}

.appDrawer__menuText {
  @apply ml-3;
}

.appDrawer__toggler {
  @apply btn text-base-content  bg-transparent border-transparent hover:bg-transparent hover:border-transparent mx-[20px] mb-[20px];
}
.appDrawer__themeSwitch {
  @apply btn  text-base-content bg-transparent border-transparent hover:bg-transparent hover:border-transparent mx-[20px] mb-[20px];
}
