@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** Importing all css modules -------------------------*/

@import "../app/components/layouts/Auth/AuthLayout.css";
@import "../app/components/layouts/Default/DefaultLayout.css";

@import "../app/components/elements/SigninGreeting/SigninGreeting.css";

@import "../app/components/modules/SignInForm/SignInForm.css";
@import "../app/components/modules/AppDrawer/AppDrawer.css";
@import "../app/components/modules/AppHeadbar/AppHeadbar.css";
@import "../app/components/modules/MessageDrawer/MessageDrawer.css";
@import "../app/components/modules/NotificationDrawer/NotificationDrawer.css";
@import "../app/components/modules/UserMenu/UserMenu.css";
