@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** Importing all css modules -------------------------*/
@import "../app/components/layouts/AuthLayout.css";

@import "../app/components/elements/SigninGreeting/SigninGreeting.css";

@import "../app/components/modules/SignInForm/SignInForm.css";
